# Игнорируем Python-папки и файлы
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Игнорируем виртуальные окружения
venv/
env/
.venv/

# Игнорируем файлы конфигурации IDE
.idea/
.vscode/

# Игнорируем файлы логов
*.log

# Игнорируем файлы с секретами и конфиденциальной информацией
.env
*.env

# Игнорируем другие временные или системные файлы
.DS_Store
Thumbs.db

# Игнорируем файлы и директории, которые могут быть специфичны для ОС
*.swp
*~

# Игнорируем зависимости (если используется pipenv или poetry)
Pipfile.lock
poetry.lock

# Игнорируем файлы базы данных (например, SQLite)
*.sqlite3

# Игнорируем другие кастомные файлы, если они не должны быть в репозитории
