/* Основные стили для контейнеров */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9; /* Светлый фон */
  color: #333; /* Темно-серый текст */
}

/* Контейнер страницы */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Убедитесь, что контейнер занимает всю высоту экрана */
}

/* Верхняя часть страницы */
.top-section {
  background-color: #f4f4f9; /* Светлый фон */
  padding: 20px;
  flex-shrink: 0; /* Запрещаем сжатие */
}

/* Контейнер для содержимого */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 80px; /* Отступ сверху, чтобы не перекрывать Navbar */
}

/* Нижняя часть страницы */
.bottom-section {
  background-color: #212121; /* Темный фон */
  color: white;
  padding: 20px;
  margin-top: auto; /* Прижимаем нижнюю часть к низу */
  text-align: center; /* Выравниваем текст по центру */
}

/* Стили для кнопок */
button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
